<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="./assets/img/Logo_Amazing_Events.ico" type="image/x-icon">
  <link rel="stylesheet" href="./assets/style/style.css">
  <title>Amazing Events</title>
</head>

<Body>
  <div id="app">
    <div class="form-serch">
      <input type="text" class="form-control" placeholder="Serch whatever you want to serch"
        aria-label="Serch whatever you want to serch" aria-describedby="button-addon2" id="text-input"
        v-model="textOFSerch" v-on:keyup="filterSerch">
        </div>
   <div v-for="category of categoryArr">
    <label class="form-check-label" ><input class="form-check-input" type="checkbox" v-model="checkChecked" :value="category" v-on:change="filterSerch">{{category}}</label>
       </div>
          <div class="cards-container">
      <div v-if="inputOfSerch.length !== 0" v-for="card of inputOfSerch" class="card">
        <img :src="card.image" class="card-img-top" alt="firstArray.events[0].name">
        <div class="card-body">
          <h5 class="card-title">{{card.name}}</h5>
          <p class="card-text">{{card.description}} </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div v-else v-for="card of firstArray.events">
        <img :src="card.image" class="card-img-top" alt="firstArray.events[0].name">
        <div class="card-body">
          <h5 class="card-title">{{card.name}}</h5>
          <p class="card-text">{{card.description}} </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

  </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="./assets/js/index.js"></script>
</Body>

</html>